<div class="card ">
    <div class="card-header">
        Edit User
    </div>
    <div class="card-body m-0">
        <div class="mb-3 row">
            <form (ngSubmit)="onSubmit()" [formGroup]="userUpdate" class="form">
              <div>
                <label for="name">Name:</label>
                <input style="margin: 5px;" type="text" id="name"  formControlName="name" value="{{user1.name}}">
              </div>
              <div>
                <label for="email">Email:</label>
                <input style="margin: 5px;" type="email" id="email"  formControlName="email" value="{{user1.email}}">
              </div>
              <div>
                <label for="password">Password:</label>
                <input style="margin: 5px;" type="password" id="password"  formControlName="pass" value="{{user1.pass}}">
              </div>
              <button type="submit" class="btn btn-outline-success">Save</button>
            </form>
        </div>
    </div>
</div>






